* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --control-size: clamp(78px, 18vw, 500px);
    --control-gap: clamp(8px, 4vw, 48px);
    --control-padding: clamp(12px, 4vw, 48px);
    --control-bg: #4b5563;
    --control-border: #1f2937;
    --control-shadow: #111827;
    --control-text: white;
    --settings-bg: #111827;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #096b7f, #ffffff);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



#mobile-controls {
    display: none;
}

@media (pointer: coarse) {
    #mobile-controls {
        position: fixed;
        bottom: 72px;
        left: 0;
        right: 0;

        display: flex;
        justify-content: space-between;
        align-items: end;

        padding: var(--control-padding);
    }

    #mobile-controls button {
        width: var(--control-size);
        height: var(--control-size);

        border-radius: 50%;
        border: none;

        font-size: 28px;
        font-weight: bold;

        cursor: pointer;

        background: var(--control-bg);
        color: var(--control-text);

        border: 4px solid var(--control-border);

        box-shadow:
        0 6px 0 var(--control-shadow);

        transition: transform .1s;
    }

    #mobile-controls button:active {
        transform: translateY(4px);

        box-shadow:
        0 2px 0 var(--control-shadow);
    }

    #mobile-controls,
    #mobile-controls * {
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    }

    .movement,
    .actions {
        display: flex;
        gap: var(--control-gap);
    }

    .settings-button {
        position: fixed;
        top: 15px;
        right: 15px;

        width: 50px !important;
        height: 50px !important;

        background: transparent !important;
        border: none !important;
        box-shadow: none !important;

        color: var(--settings-bg);
        font-size: 36px !important;
    }

    .settings-button:hover {
        transform: scale(1.1);
    }

    .settings-button:active {
        transform: scale(0.9) !important;
        box-shadow: none !important;
    }


    body.menu-active #mobile-controls {
        display: none !important;
    }
}
